.styled-select select {
  background: transparent;
  width: 350px;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  border: 0;
  border-radius: 3px;
  height: 34px;
  -webkit-appearance: none;
}

.styled-select {
  width: 350px;
  height: 34px;
  overflow: hidden;
  background: url('/stylesheets/select-arrow.png') no-repeat right #ddd;
  border: 1px solid #ccc;
}

#upcoming {
  list-style: none;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

#upcoming li:first-child {
  font-size: 40px;
}

#status {
  padding-top: 20px;
}